.board {
  margin: auto;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  z-index: 8;
}

.row {
  display: flex;
  flex-direction: row;
}

.lightsquare {
  width: 5vw;
  height: 5vw;
  background-color: gray;
}

.darksquare {
  width: 5vw;
  height: 5vw;
  background-color: black;
}

.piece {
  width: 5vw;
  height: 5vw;
  z-index: 9;
  -webkit-user-drag: none;
  position: absolute;
  user-select: none;
}

.pieces {
  position: absolute;
  width: 40%;
  height: 82%;
  top: 9px;
  /* background-color: pink;
  opacity: 0.5; */
}
