
.board {
  margin: auto;
  width: 50vw;
  height: 50vh;
  left: 27vw;
  display: flex;
  flex-direction: column;
  z-index: 8;
  position: absolute;
}



.row {
  display: flex;
  flex-direction: row;
}

.lightsquare {
  width: 5vw;
  height: 5vw;
  background-color: rgb(189, 188, 148);
}

.darksquare {
  width: 5vw;
  height: 5vw;
  background-color: rgb(83, 83, 78);
}

.piece {
  width: 5vw;
  height: 5vw;
  position: absolute;
  z-index: 9;
  -webkit-user-drag: none;
  position: absolute;
  user-select: none;
  pointer-events: auto;
}

.pieces {
  position: absolute;
  width: 80%;
  height: 164%;
  pointer-events: none;
  /* background-color: pink;
  opacity: 0.5; */
}
